@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }

  html, body {
    height: 100%;
    margin: 0;
    background: linear-gradient(135deg, #001f3f, #004080);
    background-repeat: no-repeat;
    background-attachment: fixed; /* Зафиксирует градиент для предотвращения сдвигов */
    background-size: cover;       /* Растянет градиент на весь экран */
}

body {
    font-family: "Signika", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px; 
  margin-left: auto; 
  margin-right: auto; 
  padding-left: 15px; 
  padding-right: 15px; 
}


.header {
    height: 1024px;
}


.search-form {
    position: relative;
    width: 300px;
}

.search-input {
    width: 302px;
    padding: 10px 40px 10px 15px; /* Отступы с учетом места для иконки */
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 35px;
}

.search-button {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    background: url('search_24dp_000_FILL0_wght400_GRAD0_opsz24.png') no-repeat center;
    background-size: 24px;
    border: none;
    width: 24px;
    height: 24px;
    cursor: pointer;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(51, 51, 51, 0);
    padding: 25px 20px;
}

.logo {
    color: #fff;
    font-size: 24px;    
}

.nav-list {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-list li {
    margin: 0 15px;
}

.nav-list a {
    font-weight: bold;
    color: #283048;
    text-decoration: none;
    background-color: #FFFFFF;
    padding: 10px;
    border-radius: 15px;
    transition: 1s ease;
}

.nav-list a:hover {
    background-color: #004080;
    color: #fff;
}

/* Стили для мобильного меню */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    height: 3px;
    width: 25px;
    background-color: #fff;
    margin: 3px 0;
}

.header_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.header_title img {
    margin-top: 120px;
    width: 600px;
    height: 450px;
    border-radius: 50px;
}

.title_text {
    margin-top: 120px;
    margin-left: 100px;
}

.title_text h1 {
    line-height: 50px;
    color: #FFFFFF;
    font-size: 40px;
}

.title_text p {
    color: #FFFFFF;
    line-height: 30px;
    margin-top: 60px;
    font-size: 20px;
}

.header_btn {
    margin-top: 100px;
    text-align: center;
}

.header_btn a {
    background-image: linear-gradient(to right, #283048 0%, #859398  51%, #283048  100%);
    margin: 10px;
    padding: 15px 45px 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    text-decoration: none;
}

.header_btn a:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
}


         
.btn-grad {
    background-image: linear-gradient(to right, #283048 0%, #859398  51%, #283048  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  
.partners {
    height: 550px;
}

.partners_inner {
    padding-top: 170px; 
}


.partners_cart img {
    border-radius: 45px 10px 10px 45px;
}


.partners_cart {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.part_title {
    color: #fff;
    margin-left: 100px;
}

.part_title h1 {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 20px;
}

.part_title p {
    padding-bottom: 50px;
    font-size: 20px;
}

.part_title a {
    text-decoration: none;
    color: #283048;
    background-color: #fff;
    padding: 15px 80px 15px 80px;
    border-radius: 50px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 1s ease;
}

.part_title a:hover {
    box-shadow: none;
    background-color: #283048;
    color: #fff;
    box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.8);
}

.invite {
    height: 650px;
    padding-top: 1150px;
    padding-bottom: 900px;
}

.invite_title {
    text-align: center;
}

.invite_title h1 {
    color: #fff;
    font-size: 50px;
}

.invite_cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.invite_card {
    text-align: center;
    border-radius: 25px;
    width: 450px;
    background-color: #3E423B;
    height: 610px;
    display: block;
}

.card_content {
    color: #fff;
    margin-top: 35px;
}

.card_content h1 {
    font-size: 50px;
}

.card_content h2 {
    margin-top: 25px;
    font-size: 40px;
    padding-right: 290px;
}

.card_content h3 {
    font-size: 35px;
    margin-top: 25px;
}

.card_content p {
    line-height: 35px;
    font-size: 20px;
}

.invite_btn {
    margin-top: 100px;
}

.invite_btn a {
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    color: black;
    background-color: #fff;
    padding: 15px 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    display: inline-block;
}

.invite_btn a:hover {
    color: #fff;
    background-color: #3E423B;
    transform: scale(1.1);
}

.invite_card2 {
    text-align: center;
    border-radius: 25px;
    width: 450px;
    background-color: #3E423B;
    height: 610px;
    display: block;
}

.card2_content {
    color: #fff;
    margin-top: 35px;
}

.card2_content h1 {
    font-size: 50px;
}

.card2_content h2 {
    margin-top: 25px;
    font-size: 40px;
    padding-right: 290px;
}

.card2_content h3 {
    font-size: 35px;
    margin-top: 25px;
}

.card2_content p {
    margin-top: 5px;
    font-size: 20px;
}

.invite2_btn {
    margin-top: 80px;
}

.invite2_btn a {
    border-radius: 50px;
    font-weight: bold;
    text-decoration: none;
    font-size: 25px;
    color: black;
    background-color: #fff;
    padding: 15px 50px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
    display: inline-block;
}

.invite2_btn a:hover {
    color: #fff;
    background-color: #3E423B;
    transform: scale(1.1);
}

.footer {
    background-color: #3E423B;
    height: 150px;
}

.contacts_title {
    padding-top: 25px;
    display: flex;
    justify-content: space-between;
}

.contact_adress h1 {
    color: #fff;
    font-size: 25px;
}

.adress {
    margin-top: 40px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

.adress h2 {
    padding-left: 15px;
}

.footer_group {
    color: #fff;
}

.footer_group h1 {
    font-size: 25px;
}

.footer_group h2 {
    font-size: 25px;
    margin-top: 40px;
}

@media (max-width: 1200px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    
    html, body {
      height: 100%;
    }

    .header {
        height: 712px;
    }
    
    
    .container {
        max-width: 100%; /* Контейнер займет всю ширину экрана */
        padding-left: 15px; /* Уменьшенные отступы для планшетов */
        padding-right: 15px;
      }

      .logo img {
        width: 100px;
        height: 50px;
      }

    .nav-list {
        display: none;
        flex-direction: column;
        width: 100%;
        background: linear-gradient(135deg, #001f3f, #004080);
        position: absolute;
        top: 90px;
        left: 0;
        transition: max-height 1s ease-out, opacity 0.3s ease-out; /* Плавный переход */
        max-height: 0; /* Скрываем меню */
        opacity: 0; /* Скрываем меню */
        overflow: hidden; /* Скрываем переполнение */
    }

    .nav-list.active {
        display: flex;
        max-height: 300px; /* Задаем максимальную высоту для анимации */
        opacity: 1; /* Показываем меню */
    }

    .menu-toggle {
        display: flex;
    }

    .nav-list li {
        text-align: center; /* Центрируем ссылки */
        margin: 10px 0; /* Отступы между ссылками */
    }

    .nav-list a {
        font-weight: bold;
        color: #283048;
        text-decoration: none;
        background-color: #FFFFFF;
        padding: 5px;
        border-radius: 5px;
        transition: 1s ease;
    }
    
    .nav-list a:hover {
        background-color: #004080;
        color: #fff;
    }

    .header_title {
        display: inline-block;
        text-align: center;
    }

    .header_title img {
        margin-top: 25px;
        border-radius: 25px;
        width:  250px;
        height: 250px;
    }
    
    .title_text {
        margin-top: 25px;
        margin-left: 0px;
    }

    .title_text h1 {
        line-height: 25px;
        color: #FFFFFF;
        font-size: 24px;
    }
    .title_text p {
        color: #FFFFFF;
        line-height: 10px;
        margin-top: 10px;
        font-size: 10px;
    }
    .header_btn {
        margin-top: 50px;
    }

    .partners {
        height: 750px;
    }

    .partners_inner {
        display: inline-block;
        padding-top: 0px;
    }

    .partners_cart img {
        width: 250px;
        height: 250px;
        border-radius: 5px;
    }

    .partners_cart {
        display: inline-block;
        text-align: center;
    }
    .part_title {
        color: #fff;
        margin-left: 0;
    }

    .part_title h1 {
        font-size: 24px;
        font-weight: bold;
        padding-bottom: 10px;
    }

    .part_title p {
        padding-bottom: 35px;
        font-size: 14px;
    }
    #part_img1 {
        display: none;
    }
    .invite {
        height: 450px;
        padding-bottom: 1450px;
    }

    .invite_title {
        text-align: center;
    }

    .invite_title h1 {
        font-size: 24px;
    }

    .invite_cards {
        display: inline-block;
        justify-content: center;
        margin-top: 50px;
        text-align: center;
    }

    .invite_card {
        margin-left: 20px;
        width: 320px;
    }

    .invite_card2 {
        margin-left: 20px;
        width: 320px;
    }

    .card_content h1 {
        font-size: 40px;
    }

    .card_content h2 {
        margin-top: 25px;
        font-size: 30px;
        padding-right: 290px;
    }

    .card_content h3 {
        font-size: 25px;
        margin-top: 25px;
    }

    .card_content p {
        line-height: 40px;
        font-size: 18px;
        padding-bottom: 0px;
    }

    .card2_content h1 {
        font-size: 40px;
    }
    
    .card2_content h2 {
        margin-top: 25px;
        font-size: 30px;
        padding-right: 290px;
    }

    .card2_content h3 {
        font-size: 25px;
        margin-top: 25px;
    }
    .card2_content p {
        margin-top: 5px;
        font-size: 18px;
        padding-bottom: 10px;
    }

    .footer {
        height: 260px;
    }

    .contacts_title {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .contact_adress h1 {
        font-size: 18px;
    }

    .adress {
        display: flex;
        align-items: center;
        margin-top: 15px;
    }

    .adress h2 {
        padding-left: 15px;
        font-size: 12px;
    }

    .footer_group h1 {
        font-size: 18px;
    }

    .footer_group h2 {
        font-size: 18px;
        margin-top: 10px;
    }

    .footer_group {
        padding-left: 50px;
    }
}


@media (min-width: 1200px) {
    #part_img2 {
        display: none;
    }
}